body{
    position: relative;
    overflow:  hidden;
}
@font-face{
    font-family: 'Gotham Pro';
    src: url('/fonts/GothamPro.ttf');
    font-weight: 400;
    font-style: normal;
}
@font-face{
    font-family: 'Gotham Pro';
    src: url('/fonts/GothamPro-light.ttf');
    font-weight: 100;
    font-style: normal;
}
@font-face{
    font-family: 'Gotham Pro';
    src: url('/fonts/GothamPro.ttf');
    font-weight: 400;
    font-style: normal;
}
@font-face{
    font-family: 'Lato';
    src: url('/fonts/Lato-Regular.ttf');
    font-weight: 400;
    font-style: normal;
}
.App{
    height: 100vh;
    position: relative;

}
.control__buttons{
    z-index: 8;
    position: fixed;
    left: 20px;
    top: 470px;
}
.button_1{
    top:0;
}
.button_2{
    top:60px;
}
.button_3{
    top:120px;
}
.button_4{
    top:180px;
}

.pause__block_1{
    background-color: #717475;
    position: absolute;
    left: 19px;
    top: 16px;
    width: 2px;
    height: 20px;
}
.pause__block_2{
    background-color: #717475;
    position: absolute;
    left: 29px;
    top: 16px;
    width: 2px;
    height: 20px;
}
.confirm__block_1{
    transform: rotate(-45deg);
    background-color: #717475;
    position: absolute;
    left: 18px;
    top: 23px;
    width: 2px;
    height: 10px;
}
.confirm__block_2{
    transform: rotate(45deg);
    background-color: grey;
    position: absolute;
    left: 28px;
    top: 16px;
    width: 2px;
    height: 18px;
}
.cancel__block_1{
    transform: rotate(45deg);
    background-color: #717475;
    position: absolute;
    left: 24px;
    top: 13px;
    width: 2px;
    height: 25px;
}
.cancel__block_2{
    transform: rotate(-45deg);
    background-color: #717475;
    position: absolute;
    left: 24px;
    top: 13px;
    width: 2px;
    height: 25px;
}
.camera__block_1{
    border: 1px solid #717475;
    position: absolute;
    left: 14px;
    top: 18px;
    width: 14px;
    height: 12px;
}
.camera__block_2{
    transform: rotate(-50deg);
    background-color: #717475;
    position: absolute;
    left: 21px;
    top: 12px;
    width: 1px;
    height: 26px;
}
.camera__block_3{
    transform: rotate(50deg);
    background-color: #717475;
    position: absolute;
    left: 33px;
    top: 17px;
    width: 1px;
    height: 9px;
}
.camera__block_4{
    transform: rotate(-50deg);
    background-color: #717475;
    position: absolute;
    left: 33px;
    top: 24px;
    width: 1px;
    height: 9px;
}
.camera__block_5{
    background-color: #717475;
    position: absolute;
    left: 36px;
    top: 20px;
    width: 1px;
    height: 10px;
}
.control__button{
    position: absolute;
    border: 0;
    border-radius: 100px;
    margin-top: 10px;
    width: 50px;
    height: 50px;
    outline: none;
    transition-duration: 0.5s;
}
.control__open{
    padding-bottom: 10px;
    font-size: 15px;
    text-align: center;
    border: 0;
    border-radius: 100px;
    width: 30px;
    height: 30px;
    outline: none;
}

.clock{
    margin-right: 5px;
}
.control__timer{
    color: #868687;
    padding: 0 5px 2px;
    text-align: center;
    height: 20px;
    margin-left: 10px;
    background-color: buttonface;
    border: 0;
    border-radius: 100px;
    outline: none;
}
.control__panel{
    margin-left: 10px;
    margin-top: 250px;
    display: flex;
    align-items: center;
}

.slide__buttons{
    flex-flow: column;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 5;
    top: 385px;
    left: 980px;
    position: fixed;
    height: 50px;
    width: 30px;
    transition-duration: 1s;
}
.Slide_Button{
    outline: none;
    cursor: pointer;
    display: flex;
    border: 6px solid #fff;
    border-radius: 100px;
    padding: 0;
    font: inherit;
    color: inherit;
    background-color: transparent;

}
.down__button{
    cursor: pointer;
    border: 0;
    z-index: 4;
    padding: 0;
    font: inherit;
    color: inherit;
    position: fixed;
    width: 100vw;
    height: 15%;
    background: url('./img/down_button.png') no-repeat center bottom /contain;
    bottom: 0;
}
.Box_1,.Box_2{
    font-family: "Gotham Pro";
    display: block;
    min-height: 100vh;
    overflow: hidden;
    transition: 0.5s ease-out;
}
.Box_1__title{
    font-weight: 100;
    left: 230px;
    text-align: center;
    width: 600px;
    font-size: 50px;
    color:white;
    position: absolute;
    transition: 0.5s ease-out;

}
.iceblock1{
    position: absolute;
    right: -3px;
    width: 150px;
    height: 210px;
    background: url('./img/iceblock1.png') no-repeat center bottom /contain;
    transition: 0.5s ease-out;
}
.iceblock2{
    position: absolute;
    left: 230px;
    width: 100px;
    height: 220px;
    background: url('./img/iceblock2.png') no-repeat center bottom /contain;
    transition: 0.5s ease-out;
}
.iceblock3{
    position: absolute;
    left: 85px;
    width: 40px;
    height: 40px;
    background: url('./img/iceblock3.png') no-repeat center bottom /contain;
    transition: 0.5s ease-out;
}
.iceblock4{
    position: absolute;
    right: 230px;
    width: 80px;
    height: 80px;
    background: url('./img/iceblock4.png') no-repeat center bottom /contain;
    transition: 0.5s ease-out;
}
.Box_2__title{
    position: absolute;
    top: 105px;
    left: 100px;
    font-size: 50px;
    width: 800px;
    color: #0d319c;
    transition: 0.5s ease-out;
}
.Box_2__text_1{
    font-family: 'Lato';
    position: absolute;
    top: 398px;
    left: 222px;
    font-size: 20px;
    color: #0d319c;
    transition: 0.5s ease-out;
}
.Box_2__text_2{
    font-family: 'Lato';
    position: absolute;
    top: 505px;
    left: 372px;
    font-size: 20px;
    color: #0d319c;
    transition: 0.5s ease-out;
}
.Box_2__text_3{
    font-family: 'Lato';
    position: absolute;
    top: 277px;
    left: 630px;
    font-size: 20px;
    color: #0d319c;
    transition: 0.5s ease-out;
}
.Box_2__text_4{
    font-family: 'Lato';
    position: absolute;
    top: 487px;
    left: 790px;
    font-size: 20px;
    color: #0d319c;
    transition: 0.5s ease-out;
}
.Tab_3, .Tab_2, .Tab_1{
    z-index: 1;
    width: 100vw;
    height: 100vh;

}
.Box_1{
  position: relative;
  background: url('./img/box_1.png') no-repeat center /contain;
}
.Box_2{
    padding-top: 1px;
    position: relative;
    z-index: 2;
    margin-bottom: -10px;
    background: url('./img/box_2.png') no-repeat center top /contain;
}
.Tab_3{
    background: url('./img/tab_3.png') no-repeat center top /contain;
}
.Tab_2{
    margin-right: -1px;
    background: url('./img/tab_2.png') no-repeat center top /contain;
}
.Tab_1{
    margin-right: -1px;
    background: url('./img/tab_1.png') no-repeat center top /contain;

}
.Tabs__view{
    overflow: hidden;
    position: relative;
    margin-top: -1px;
    height: 100%;
    width: 100%;
}
.Tabs__list{
    transition: 0.6s ease-out;
    display: flex;
    left: -2048px;
    position: absolute;
}
.scroll__line{
    bottom: 85px;
    display: flex;
    left: 210px;
    z-index: 2;
    width: 630px;
    height: 11px;
    position: absolute;
}
.scroll__line_white{
    border: 1px solid #8294a7;
    left:0;
    position: absolute;
    background: #d1eaff;
    height: 100%;
}
.scroll__line_black{
    border: 1px solid #273143;
    right:0;
    position: absolute;
    height: 100%;
    background: #435063;
}
.scroll__tab{
    z-index: 8;
    bottom: 63px;
    background: url('./img/scroll_button.png') no-repeat center top /contain;
    width: 50px;
    height: 50px;
    position: fixed;
}
.transition_on{
    transition: 0.4s ease-out;
}
.scroll__text_1, .scroll__text_2, .scroll__text_3{
    font-size: 20px;
    font-family: "Gotham Pro";
    z-index: 6;
    display: block;
    bottom: 36px;
    position: absolute;
    color: #fff;
}
.scroll__text_1{
    left: 200px;
}
.scroll__text_2{
    left: 50%;
}
.scroll__text_3{
    left: 800px;
}

.circle_1{
    transition: 0.5s ease-out;
    top: 426px;
    left: 273px;
}
.circle_2{
    transition: 0.5s ease-out;
    top: 538px;
    left: 480px;
}
.circle_3{
    transition: 0.5s ease-out;
    top: 260px;
    left: 561px;
}
.circle_4{
    transition: 0.5s ease-out;
    top: 518px;
    left: 821px;
}
.Circle__outer{
    display: flex;
    border: 4px solid #CA7359;
    border-radius: 100px;
    width: 60px;
    height: 60px;
    position: absolute;
    align-items: center;
}
.Circle__moving{
    box-sizing: border-box;
    z-index: 1;
    background-color: rgba(255, 186, 2,255);
    border-radius: 100px;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 60px;
    height: 60px;
    border: 2px solid #F69733;
    animation: increase  2s infinite ease-out;
}
.moving_1{
    animation-delay: -1s;
}
.moving_2{
    animation-delay: 4.5s;
}
@keyframes increase {
    from {
        background-color: rgba(246, 151, 51, 1);
        border-color: #F69733;
        margin: 0 0 0 0;
        transform: scale(0);
        width: 0px;
        height: 0px;
    }
    40%{
        background-color: rgba(246, 151, 51, 1);
    }

    to {
        background-color: rgba(246, 151, 51, 0);
        border-color: #CA7359;
        margin: -49.5% 0 0 -50%;
        transform: scale(1);
        }
}

